/* Reset some default styles */
body, h1, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
.mm h1{
    text-align: center;
    padding: 20px;
    color: #0a0a0a;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%
    );
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.product-description {
    flex-grow: 1;
    padding: 20px;
}

button {
    display: block;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.cart {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    text-align: center;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    margin: 10px 0;
}

.cart button {
    display: block;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
